<style>
    #live2dcanvas {
        left: 0;
        border: none !important;
    }
</style>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">我的博客</a>
        </div>
        <%if(!islogin){%>
            <div class="navbar-form navbar-right" role="group" aria-label="...">
                <a type="button" class="btn btn-default btn-success" href="register">注册</a>
                <a type="button" class="btn btn-default btn-primary" href="login">登录</a>
            </div>
            <%}else{%>
                <div class=" navbar-form navbar-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-warning">欢迎 <%=user.nickname%></button>
                    <a type="button" class="btn btn-default btn-danger" href="/logout">注销</a>
                </div>
                <%}%>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">发起 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/article/add">文章</a></li>
                                <li><a href="javascript:;">问题</a></li>
                            </ul>
                        </li>
                    </ul>
    </div>
    <!-- /.container-fluid -->
</nav>